/*Fonts*/

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/PTSans.woff2) format(.woff2);
  src: url(../fonts/PTSans.woff) format(.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/PTSans-Bold.woff2) format(.woff2);
  src: url(../fonts/PTSans-Bold.woff) format(.woff);
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-light-gray: #eeeeee;
  --basic-gray-blue: #f2f2f2;
  --basic-desaturated-blue: #81b3d2;
  --basic-desaturated-dark-orange: #766357;
  --basic-Very-dark-gray: #333333;

  --special-gray: #6a6a6a;
  --specia-grayish-orange: #604e43;
  --special-desaturated-orange: #503e33;
  --special-Very-light-gray: #ebebeb;
  --special-border-Very-light-gray: #e5e5e5;
  --special-light-gray: #a9a9a9;
  --special-Slightly-desaturated-blue: #669ec0;
  --special-Moderate-blue: #5496bd;
  --special-Grayish-pink: #bdbbbc;
  --special-mostly-black-red: #231f20;
  --special-direct-energy: #666666;
  --special-grau67: #ababab;
}

/* Global*/

.page-body {
  padding: 0;
  margin: 0 auto;
  width: 1200px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-Very-dark-gray);
  text-transform: uppercase;
  background-color: var(--basic-white);

	min-width: 1200px;
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
	align-content: start;

	box-shadow:
		0px 5px 15px rgba(0, 1, 1, 0.2);

	position: relative;
}

a {
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
}

p {
	word-break: break-all;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* Grid*/

.page {
	height: 100%;
}

.page-bg {
	background-color: #f2f2f2;
}

/* Main header */


/* Main navigation*/

.main-navigation {
	display: grid;
  font-weight: 700;
  line-height: 26px;
	padding: 14px 72px 16px;
	margin: 0;
	position: relative;
}

/* Logo */

.main-header-logo {

	width: 138px;
	height: 70px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
	justify-content: space-between;
}

.site-navigation li {
	min-width: 225px;
}

.site-navigation li:nth-child(5n-2) {
	flex-grow: 1;
	min-width: auto;
}

.item-rihgt {
	text-align: right;
}
	


.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover {
  color: var(--basic-desaturated-blue);
}

.site-navigation a:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

.site-navigation-current a:not([href="#"]) {
  color: var(--basic-desaturated-dark-orange);
}




/* container */

.container {
	margin: 0;
	padding: 0;
	display: grid;	
}

.bg-main {
  background-color: var(--basic-light-gray);
  background-image: url(../img/background\ photo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
	position: relative;	
}

.bg-main-logo {
  background-size: 457px 351px;
  margin: 77px auto 80px;
  display: block;
}

.bg-main::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 56px;
	background-image: url(../img/Shape.svg);
	bottom: 0;
}

.container-slogan {
	font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: var(--basic-black);
	padding: 0 50px;
	margin-top: 42px;
	margin-bottom: 45px;

}

/* Features */

.features-subtitle {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: var(--basic-Very-dark-gray);
	padding: 0 50px;
	margin: 0;
	margin-bottom: 50px;
}

.list-features {
	display: grid;
  list-style: none;
  padding: 0 ;
	margin: 0;
	grid-template-rows: repeat(3, auto);
}

.features-item {
	display: grid;
	grid-template-columns: 1fr 800px;
  color: var(--basic-white);
  background-color: var(--basic-desaturated-blue);
	text-align: center;
}

.features-item-text {
	margin: 48px;
}

.features-item-text h3 {
  font-size: 21px;
  font-weight: bold;
	margin: 0;
}

.features-item-text p,
.features-item-wrapper p {
	margin: 0;
	word-break: break-all;
}

.features-item-wrapper {
	display: flex;
	flex-wrap: wrap;
  background-color: var(--basic-light-gray);
	text-align: center;
	padding: 47px 70px 7px 70px;
	margin: 0;
	list-style: none;
}

.features-item-wrapper h3 {
	font-size: 21px;
  font-weight: bold;
  color: var(--basic-black);
	margin: 0;
}

.features-item-wrapper li {
	width: 260px;
	margin-right: 140px;
	margin-bottom: 47px;
}

.features-item-wrapper li:nth-child(3n) {
	margin-right: 0;
}

.features-item-text .features-text-number, 
.features-item-wrapper .features-text-number {
	margin-top: 27px;
	margin-bottom: 25px;
}

.bg-features {
	width: 100%;
	object-fit: cover;
	display: inherit;
}

.bg-features img {
	height: 100%;
}

.item-features-revers {
	grid-template-columns: 800px 1fr;
}

.item-features-revers .features-item-text {
	order: 2;
}

/* Recommendation */

.list-recommendation {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
  list-style: none;
  text-align: center;
	padding: 55px 52px 28px 52px;
}

.item-recommendation {
	width: 295px;
	margin-right: 105px;
	margin-bottom: 55px;
}

.item-recommendation:nth-child(3n) {
	margin-right: 0;
}

.item-recommendation h5 {
  font-size: 21px;
  font-weight: bold;
  color: var(--basic-black);
	margin-top: 25px;
	margin-bottom: 25px;
}

.item-recommendation p {
	margin: 0;
}

/* Search */

.search {
	display: grid;
	justify-content: center;
}

.search-slogan {
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  color: var(--basic-black);
  font-weight: bold;
	margin-top: 56px;
	margin-bottom: 34px;
}

.search-info {
  line-height: 24px;
  text-align: center;
  color: var(--basic-black);
	margin: 0;
	margin-bottom: 43px;
}

/* Button */

.button {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  color: var(--basic-white);
  text-transform: uppercase;
  border: none;
}

.button-form {
	display: block;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
  background-color: var(--basic-desaturated-dark-orange);
	padding: 30px 125px;
	box-sizing: border-box;
}

.button-form:hover {
  background-color: var(--specia-grayish-orange);
}

.button-form:focus {
  background-color: var(--special-desaturated-orange);
  color: rgba(255, 255, 255, 0.3);

}



.button-form:focus-visible {
	outline: 3px solid var(--basic-desaturated-dark-orange);
	outline-offset: 2px;
}

.button-search {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
  background-color: var(--basic-desaturated-blue);
	padding: 16px 181px;
	width: 100%;
}

.button-search:hover {
  background-color: var(--special-Slightly-desaturated-blue);
}

.button-search:focus {
  background-color: var(--special-Moderate-blue);
  color: rgba(255, 255, 255, 0.3);
}

.button-search:focus:not(:focus-visible) {
  outline: none;
}

.button-search:focus-visible {
	outline: 3px solid var(--basic-desaturated-blue);
	outline-offset: 2px;
}

/* Search-form */

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

.popup-wrapper {
	position: absolute;
	overflow: hidden;
}

.search-form {
  width: 568px;
  background: var(--basic-white);
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
	padding: 55px;
	box-sizing: border-box;
}

.modal-show {
	display: block;
	animation: popup-move;
	animation-duration: 1s;
	animation-fill-mode: backwards;
}

.modal-close {
	display: none;
}

.search-form-wrapper {
	width: 568px;
	position: relative;
}

.item-search {
  line-height: 26px;
  font-weight: bold;
	display: flex;
	width: 100%;
	margin-bottom: 28px;
}

.item-search-field {
	margin-bottom: 30px
}

.item-search label {
	align-self: center;
	width: 112px;
	padding-right: 20px;
	box-sizing: border-box;
}

.item-search-date {
	display: flex;
	background-color: var(--basic-gray-blue);
	flex-grow: 1;
	position: relative;
}

.item-search-date input {
  font: inherit;
  border: none;
  outline: none;
	background-color: transparent;
	text-transform: inherit;
	flex-grow: 1;
	padding: 6px 0 8px 13px;
}

.search-item-wrapper {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;
	margin-bottom: 54px;
}

.search-item {
	display: flex;
	align-items: baseline;
}

.search-item .adults {
	line-height: 26px;
  font-weight: bold;
	color: var(--basic-black);
	min-width: 112px;
	padding-right: 20px;
	box-sizing: border-box;
}

.search-item .childs {
	line-height: 26px;
  font-weight: bold;
	color: var(--basic-black);
	width: 65px;
	padding-right: 20px;
	box-sizing: border-box;
}

.search-item:first-child p {
	margin-right: 40px;
}

.search-item:last-child p {
	margin-right: 27px;
}

.button-number,
.input-number input {
  background-color: transparent;
  border: none;
  text-align: center;
}

.input-number input {
	font-weight: bold;
	outline: none;
	width: 32px;
}

.input-number {
  background-color: var(--basic-gray-blue);
  padding: 8px 13px;
	flex-grow: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 114px;
	box-sizing: border-box;
}

.button-minus {
	padding: 0;
	align-self: baseline;
}

.button-plus {
	padding: 0;
	align-self: center;
}

.calendar-button {
	border: none;
	padding: 6px 8px;
	background-color: transparent;
	position: absolute;
	right: 0;
	top: 0;
}

.item-search-date input:hover {
  background-color: var(--special-Very-light-gray);
}

.item-search-date input:focus {
  outline: none;
  background-color: var(--basic-white);
  border: 2px solid var(--special-border-Very-light-gray);
}

::-webkit-input-placeholder {color: var(--basic-black);
	opacity: 1; }
::-moz-placeholder {color: var(--basic-black);
	opacity: 1; }         
:-moz-placeholder {color: var(--basic-black);
	opacity: 1; }
:-ms-input-placeholder {color: var(--basic-black); }     


.calendar-button:hover path,
.button-plus:hover path {
	fill: var(--basic-black);
}

.button-minus:hover rect {
	fill: var(--basic-black);
}

.calendar-button:focus path,
.button-plus:focus path {
	fill: var(--basic-desaturated-blue);
}

.button-minus:focus rect {
	fill: var(--basic-desaturated-blue);
}


.calendar-button:focus:not(:focus-visible),
.button-minus:focus:not(:focus-visible),
.button-plus:not(:focus-visible) {
	outline: none;
}

@keyframes popup-move {
	0% {
		transform: translateY(-500px);
	}

	100% {
		transform: translateY(0);
	}
}





/* Filters */

.page-search {
	display: grid;
	grid-template-rows: min-content min-content 1fr;
}

.filters {
  color: var(--basic-white);
	background-color: var(--basic-light-gray);
	background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
	background-size: cover;
	padding: 26px 72px 32px;
	display: grid;
}

.filters-list {
	display: grid;
	grid-template-columns: 255px 255px 1fr;
	padding: 0;
	margin: 0;
}

.filters-list fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

.filters-list legend {
  font-size: 16px;
  font-weight: bold;
	list-style: none;
	margin-bottom: 26px;
}

.filters-list ul {
  list-style: none;
	margin: 0;
	padding: 0;
}

.filter-option {
	margin-bottom: 25px;
	padding-left: 39px;
}

.filter-option:last-of-type {
	margin-bottom: 0;
}

.filter-option label {
	display: block;
	position: relative;
	cursor: pointer;
	user-select: none;
}

.filter-input-checkbox + label::before {
	content: "";
	position: absolute;
	background-image: url('data:image/svg+xml,%3Csvg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M3 0H20C21.65 0 23 1.35 23 3V20C23 21.65 21.65 23 20 23H3C1.35 23 0 21.65 0 20V3C0 1.35 1.35 0 3 0ZM21 3C21 2.458 20.542 2 20 2H3C2.458 2 2 2.458 2 3V20C2 20.542 2.458 21 3 21H20C20.542 21 21 20.542 21 20V3Z" fill="white"/%3E%3C/svg%3E%0A');	width: 23px;
	height: 23px;
	top: 0;
	left: -39px;
}

.filter-input-checkbox:checked + label::after {
	content: "";
	position: absolute;
	background-image: url('data:image/svg+xml,%3Csvg width="23" height="18" viewBox="0 0 23 18" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M3.28505 6.48601L0.456055 9.31501L8.23905 17.098L22.1711 3.16601L19.3431 0.337006L8.23905 11.439L3.28505 6.48601Z" fill="white"/%3E%3C/svg%3E%0A');
	top: 1px;
	left: -35px;
	width: 22px;
	height: 17px;
}

.filter-input-checkbox:checked + label::before {
	background-image: url('data:image/svg+xml,%3Csvg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M21 20C21 20.542 20.542 21 20 21H3C2.458 21 2 20.542 2 20V3C2 2.458 2.458 2 3 2H19.908L21.493 0.415C21.041 0.146542 20.5257 0.00329969 20 0H3C1.35 0 0 1.35 0 3V20C0 21.65 1.35 23 3 23H20C21.65 23 23 21.65 23 20V10.171L21 12.171V20Z" fill="white"/%3E%3C/svg%3E');
}

.filter-input-checkbox:hover + label {
	color: var(--basic-white);
}

.filter-input-checkbox:disabled + label {
	color: var(--special-gray);
}

.filter-input-checkbox:focus-visible + label::before {
	outline: 2px solid var(--basic-black);
}

.filter-input-checkbox:disabled + label::before {
	background-image: url('data:image/svg+xml,%3Csvg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M3 0H20C21.65 0 23 1.35 23 3V20C23 21.65 21.65 23 20 23H3C1.35 23 0 21.65 0 20V3C0 1.35 1.35 0 3 0ZM21 3C21 2.458 20.542 2 20 2H3C2.458 2 2 2.458 2 3V20C2 20.542 2.458 21 3 21H20C20.542 21 21 20.542 21 20V3Z" fill="%236A6A6A"/%3E%3C/svg%3E%0A');
}

.filter-input-checkbox:disabled + label::after {
	background-image: url('data:image/svg+xml,%3Csvg width="23" height="18" viewBox="0 0 23 18" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M3.28499 6.48601L0.455994 9.31501L8.23899 17.098L22.171 3.16601L19.343 0.337006L8.23899 11.439L3.28499 6.48601Z" fill="%236A6A6A"/%3E%3C/svg%3E');
}

.filter-input-checkbox:checked:disabled + label::before {
	background-image: url('data:image/svg+xml,%3Csvg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M21 20C21 20.542 20.542 21 20 21H3C2.458 21 2 20.542 2 20V3C2 2.458 2.458 2 3 2H19.908L21.493 0.415C21.041 0.146542 20.5257 0.00329969 20 0H3C1.35 0 0 1.35 0 3V20C0 21.65 1.35 23 3 23H20C21.65 23 23 21.65 23 20V10.171L21 12.171V20Z" fill="%236A6A6A"/%3E%3C/svg%3E');
}


/* Price */

.price {
	display: grid;
	grid-template-rows: repeat(2, min-content);
	justify-self: end;
}

.price fieldset {
	margin-bottom: 33px;
}

.filter-price legend {
	margin-bottom: 12px;
}

.range-filter {
	width: 317px;
}

.price-controls {
	position: relative;
	border: 2px solid var(--basic-white);
	border-radius: 2px;
	padding: 6px 0;
	margin-bottom: 12px;
	display: flex;
}

.price-controls::before {
	content: "";
	position: absolute;
	width: 2px;
	height: 22px;
	background-color: var(--basic-white);
	top: 5px;
	left: 50%;
}

.price-controls .min-price {
	margin-left: 63px;
}

.price-controls .max-price {
	margin-left: 45px;
}

.price-controls input {
	flex-grow: 1;
	border: none;
	background-color: transparent;
	color: var(--basic-white);
	padding: 0;
	width: 70%;
	padding-right: 5px;
	box-sizing: border-box;
}

.range-controls {
	padding-top: 7px;
	position: relative;
}

.range-controls .scale {
	height: 2px;
	background:  rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
	height: 2px;
	background: var(--basic-white);
	padding-left: 14px;
}

.range-controls .toggle {
	position: absolute;
	top: -1px;
	width: 4px;
	height: 4px;
	border: 7.5px solid var(--basic-white);
	background-color: var(--special-grau67);
	border-radius: 50%;
	box-shadow: 0 2px 0 0 rgba(171, 171, 171, 0.3);
	cursor: pointer;
	outline: none;
}

.range-controls .toggle:hover,
.range-controls .toggle:focus-visible {
	width: 5px;
	height: 5px;
	border: 9px solid var(--basic-white);
	background-color: var(--special-grau67);
	border-radius: 50%;
	box-shadow: 0 2px 0 0 rgba(171, 171, 171, 0.3);
}

.price .button-filter {
	background-color: transparent;
	border: 2px solid var(--basic-white);
	padding: 4px 35px 7px 36px;
	justify-self: center;
	box-sizing: border-box;
}

.button-filter:hover {
	background-color: var(--basic-white);
	color: var(--basic-black);
}

.button-filter:focus:not(:focus-visible) {
	 outline: none;
}

.button-filter:focus-visible {
	outline: 3px solid  var(--basic-black);
	outline-offset: 2px;
}


/* Results */

.results {
	
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding: 30px 72px;
}

.results-search {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: var(--basic-black);
	margin: 0;
	min-width: 163px;
}



/* Sorting */

.sorting {
	display: flex;
	flex-grow: 1;	
	align-self: center;
}

.sorting-title {
	font-size: 12px;
	line-height: 18px;
	color: var(--basic-black);
	margin: 0;
	min-width: 117px;
}

.sorting-link {
	font-size: 12px;
	line-height: 18px;
	color: var(--basic-black);
	opacity: 0.3;
	text-decoration: underline;
	text-decoration-style: dashed;
	margin-right: 30px;
}

.sorting-link-wrapper a:last-of-type {
	margin-right: 0;
}

.button-sorting svg {
	margin-left: 12px;
}

.sorting-link:hover {
	color: var(--basic-desaturated-blue);
	opacity: 1;
}	

.sorting-link:focus {
	color: var(--basic-black);
	text-decoration: none;
	opacity: 1;
}	

.sorting-current {
	color: var(--basic-desaturated-blue);
	text-decoration: none;
	opacity: 1;
}

.button-sorting {
	min-width: 110px;
	text-align: end;
}

.button-up:hover path, 
.button-down:hover path {
	fill: var(--basic-black);
}

.button-up:focus path, 
.button-down:focus path, 
.button-down:active path {
	fill: var(--basic-desaturated-blue);
}

.button-down-current path {
	fill: var(--basic-desaturated-blue);
}

/* Catalog */

.catalog {
	display: grid;
}

.list-catalog {
	list-style: none;
	margin: 0;
	padding: 0 72px;
	display: grid;
	grid-template-rows: repeat(3, auto);
}

.item-catalog {
	display: grid;
	position: relative;
	grid-template-columns: auto 1fr auto;
	grid-template-rows: repeat(3, auto);
	grid-template-areas:
		"img name stars "
		"img subject ."
		"img button rating" ;
	column-gap: 29px;
	padding: 30px 0;
}


.item-catalog::before {
	content: "";
	position: absolute;
	width: 1200px;
	height: 1px;
	background-color: var(--special-border-Very-light-gray);
	top: 0;
	left: -72px;
}

.list-catalog li:last-child::after {
	content: "";
	position: absolute;
	width: 1200px;
	height: 1px;
	background-color: var(--special-border-Very-light-gray);
	bottom: 0;
	left: -72px;
}

.catalog-image {
	grid-area: img;
	background-color: var(--basic-gray-blue);
	height: 100%;
}

.catalog-name {
	grid-area: name;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: var(--basic-black);
	margin: 0;
}

.catalog-subject {
	grid-area: subject;
	display: grid;
	grid-template-columns: auto auto;
	margin: 0;
	justify-self: start;
	column-gap: 6px;
	margin-bottom: 14px;
	margin-top: 5px;
}

.catalog-subject dd {
	margin: 0;
}

.catalog-subject dt {
	width: 110px;
	word-break: break-all;
}

.catalog-button {
	grid-area: button;
	display: grid;
	grid-template-columns: auto auto;
	column-gap: 6px;
	justify-self: start;
}

.button-detail {
	background-color: var(--basic-desaturated-blue);
	font-weight: bold;
	padding: 3px 16px 3px 17px;
}

.button-detail:focus-visible {
	outline: 2px solid var(--basic-desaturated-blue);
	outline-offset: 2px;
}

.button-reserv {
	background-color: var(--basic-desaturated-dark-orange);
	font-weight: bold;
	padding: 3px 17px 3px 16px;
}

.button-reserv:focus-visible {
	outline: 2px solid var(--basic-desaturated-dark-orange);
	outline-offset: 2px;
}

.rating {
	grid-area: rating;
	justify-self: right;
	align-self: end;
}

.rating p {
	color: var(--special-direct-energy);
	background-color: var(--basic-gray-blue);
	padding: 3px 12px 3px 15px;
	display: inline-block;
	margin: 0;
}

.stars {
	grid-area: stars;
	justify-self: right;
}




/* Map */

.map {
	background-image: url(../img/map.png);
}

.map iframe {
	width: 100%;
	min-height: 594px;
}






















/* Main footer */

.main-footer {
  background-position: 0 0;
  background-color: var(--basic-white);
  background: rgba(255, 255, 255, 0.9);
  color: var(--basic-black);
  text-align: center;
  line-height: 26px;
	padding: 25px 138px 20px 125px;
	width: 100%;
	box-sizing: border-box;
}

.footer-oposity {
	position: absolute;
	bottom: 0;
}

.main-footer .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-end;
}

.main-footer section {
	margin-bottom: 20px;
}

.footer-contacts {
  font-size: 21px;
  font-weight: bold;
	display: flex;
	flex-direction: column;
}

.footer-contacts p {
	margin: 0;
}

.footer-contacts .contact {
	margin-bottom: 9px;
}

.footer-social {
  list-style: none;
	margin-left: -12px;
}

.footer-social ul {
  list-style: none;
	display: flex;
	padding: 0;
	margin: 0;
}

.social-button {
  background-color: var(--basic-desaturated-blue);
	width: 46px;
	height: 48px;
	margin-right: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
}

li:last-child .social-button {
	margin: 0;
}

.social-button:hover {
  background-color: var(--special-Slightly-desaturated-blue);
}

.social-button:focus {
  background-color: var(--special-Moderate-blue);
}

.social-button:focus-visible {
	outline: invert;
}


.social-button:focus path {
  fill: rgba(255, 255, 255, 0.3);
}

.footer-copyright {
	display: flex;
	align-items: center;
}

.footer-copyright p {
	margin: 0;
	margin-right: 8px;
}

.footer-copyright a {
  list-style: none;
}

.copyright-button:hover path {
  fill: var(--basic-desaturated-blue);
}

.copyright-button:focus path {
  fill: var(--special-Grayish-pink);
}
