/*Fonts*/
/*не уверена что правильно подключила fonts.googl поэтому еще здесь подключаю*/
@font-face {
  font-family: "PT Sans";
  src: url(../fonts/PTSans.woff2) format(.woff2);
  src: url(../fonts/PTSans.woff) format(.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/PTSans-Bold.woff2) format(.woff2);
  src: url(../fonts/PTSans-Bold.woff) format(.woff);
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-light-gray: #eeeeee;
  --basic-gray-blue: #f2f2f2;
  --basic-desaturated-blue: #81b3d2;
  --basic-desaturated-dark-orange: #766357;
  --basic-Very-dark-gray: #333333;

  --special-gray: #6a6a6a;
  --specia-grayish-orange: #604e43;
  --special-desaturated-orange: #503e33;
  --special-Very-light-gray: #ebebeb;
  --special-border-Very-light-gray: #e5e5e5;
  --special-light-gray: #a9a9a9;
  --special-Slightly-desaturated-blue: #669ec0;
  --special-Moderate-blue: #5496bd;
  --special-Grayish-pink: #bdbbbc;
  --special-mostly-black-red: #231f20;
  --special-direct-energy: #666666;
}

/* Global*/

body {
  padding: 0;
  margin: 0 auto;
  width: 1200px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-Very-dark-gray);
  text-transform: uppercase;
  background-color: var(--basic-white);

	min-width: 1200px;
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
	align-content: start;
}

a {
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
}

/* Grid*/

.page {
	height: 100%;
}

/* Main header */

.main-header {
	outline: 5px solid red;
	outline-offset: -5px;
}

/* Main navigation*/

.main-navigation {
	display: grid;
  font-weight: 700;
  line-height: 26px;
	padding: 0 72px;
	margin: 0;
}

/* Logo */

.main-navigation-wrapper {
	display: grid;
	outline: 5px solid rgba(25, 245, 25, 0.3);
  outline-offset: -5px;
	grid-template-columns:  min-content 1fr;
}

.main-header-logo {
	outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;
	width: 138px;
	height: 70px;
	justify-self: center;
}

.site-navigation {
	outline: 5px solid rgba(203, 84, 137, 0.3);
  outline-offset: -5px;
  list-style: none;
	margin: 0;
	padding: 0;
}

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover {
  color: var(--basic-desaturated-blue);
}

.site-navigation a:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

.site-navigation-current a:not([href="#"]) {
  color: var(--basic-desaturated-dark-orange);
}




/* container */

.container {
	margin: 0;
	padding: 0;
	display: grid;
	
}

.bg-main {
	outline: 5px solid rgba(66, 250, 5, 0.646);
  outline-offset: -5px;
  background-color: var(--basic-light-gray);
  background-image: url(../img/background\ photo.jpg);
  background-size: contain;
  background-repeat: no-repeat;
	
	
}

.bg-main-logo {
  background-size: 457px 351px;
  margin: 77px auto 80px;
  display: block;
}

.container-slogan {
	font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: var(--basic-black);
}

/* Features */

.features-subtitle {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: var(--basic-Very-dark-gray);
}

.list-features {
	display: grid;
  list-style: none;
  padding: 0 ;
	margin: 0;
	grid-template-rows: repeat(3, auto);
}

.features-item {
	display: grid;
	grid-template-columns: 1fr 800px;
  color: var(--basic-white);
  background-color: var(--basic-desaturated-blue);
	text-align: center;
}

.features-item h3 {
  font-size: 21px;
  font-weight: bold;
	margin: 0;
}

.features-item-row {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
  background-color: var(--basic-light-gray);
	text-align: center;
}

.features-item-row h3 {
	font-size: 21px;
  font-weight: bold;
  color: var(--basic-black);
}

.features-item-text-1 {
	margin: 47px 52px 54px;
}

.features-item-text-2 {
	margin: 50px;
}

.features-item-text-3 {
	margin-top: 47px;
	margin-left: 96px;
	margin-bottom: 54px;
	outline: 5px solid rgba(66, 250, 5, 0.646);
  outline-offset: -5px;
}

.features-item-text-4 {
	justify-self: center;
	margin-top: 47px;
	margin-bottom: 54px;
	outline: 5px solid rgba(66, 250, 5, 0.646);
  outline-offset: -5px;
}

.features-item-text-5 {
	margin-top: 47px;
	margin-bottom: 54px;
	margin-right: 77px;
	outline: 5px solid rgba(66, 250, 5, 0.646);
  outline-offset: -5px;
}

.bg-features {
	background-size: cover;
	display: inherit;
}

/* Recommendation */

.list-recommendation {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 0;
  list-style: none;
  text-align: center;
	outline: 5px solid rgba(66, 250, 5, 0.646);
  outline-offset: -5px;
	margin-bottom: 82px;
}

.item-recommendation h5 {
  font-size: 21px;
  font-weight: bold;
  color: var(--basic-black);
}

.item-recommendation p {
	margin: 0;
}

 .housing {
	outline: 5px solid rgba(49, 15, 241, 0.646);
  outline-offset: -5px;
}

 .food {
	 justify-self: center;
	outline: 5px solid rgba(49, 15, 241, 0.646);
  outline-offset: -5px;
}

 .souvenirs {
	outline: 5px solid rgba(49, 15, 241, 0.646);
  outline-offset: -5px;
}



/* Search */

.search-slogan {
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  color: var(--basic-black);
  font-weight: bold;
}

.search-info {
  line-height: 24px;
  text-align: center;
  color: var(--basic-black);
}

/* Button */

.button {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  color: var(--basic-white);
  text-transform: uppercase;
  border: none;
  outline: none;
}

.button-form {
  background-color: var(--basic-desaturated-dark-orange);
	box-sizing: border-box;
}

.button-form:hover {
  background-color: var(--specia-grayish-orange);
}

.button-form:focus {
  background-color: var(--special-desaturated-orange);
  color: rgba(255, 255, 255, 0.3);
}

.button-search {
  background-color: var(--basic-desaturated-blue);
}

.button-search:hover {
  background-color: var(--special-Slightly-desaturated-blue);
}

.button-search:focus {
  background-color: var(--special-Moderate-blue);
  color: rgba(255, 255, 255, 0.3);
}

/* Search-form */

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.search-form {
  width: 568px;
  background: var(--basic-white);
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}

.item-search {
  line-height: 26px;
  font-weight: bold;
  vertical-align: center;
}

.item-search input {
  font: inherit;
  background-color: var(--basic-gray-blue);
  border: none;
  outline: none;
}

.item-search input:hover {
  background-color: var(--special-Very-light-gray);
}

.item-search input:focus {
  outline: none;
  background-color: var(--basic-white);
  border: 2px solid var(--special-border-Very-light-gray);
}

::placeholder {
  color: var(--basic-black);
}

.search-item p {
  display: inline;
}

.button-number,
.input-number input {
  background-color: transparent;
  border: none;
  text-align: center;
}

.input-number {
  background-color: var(--basic-gray-blue);
  padding: 6px 13px;
  display: inline-block;
}









/* Filters */

.filters {
  color: var(--basic-white);
  background-color: var(--basic-Very-dark-gray);
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
	background-size: contain;
  padding: 26px 72px 32px;
}

.filter legend {
  font-size: 16px;
  font-weight: bold;
}

.filter ul {
  list-style: none;
}

.filter-checkbox input:hover + label {
	color: var(--basic-white);
}

.filter-checkbox input:disabled + label {
	color: var(--special-gray);
}

.button-filter {
	background-color: transparent;
	border: 2px solid var(--basic-white);
	padding: 8px 35px 7px 36px;
}

.button-filter:hover {
	background-color: var(--basic-white);
	color: var(--basic-black);
}

.filter-price {
	border: 2px solid var(--basic-white);
	display: inline-block;
	padding: 7px;
}

.price-number {
	border: none;
	background: none;
	color: var(--basic-white);
}

.filter-price {
	border: 2px solid var(--basic-white);
}

/* Results */

.results-search {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: var(--basic-black);
}

/* Sorting */

.sorting-title {
	font-size: 12px;
	line-height: 18px;
	color: var(--basic-black);
}

.sorting-link {
	font-size: 12px;
	line-height: 18px;
	color: var(--basic-black);
	opacity: 0.3;
	text-decoration: underline;
	text-decoration-style: dashed;
}

.sorting-link:hover {
	color: var(--basic-desaturated-blue);
	opacity: 1;
}	

.sorting-link:focus {
	color: var(--basic-black);
	text-decoration: none;
	opacity: 1;
}	

.sorting-current {
	color: var(--basic-desaturated-blue);
	text-decoration: none;
	opacity: 1;
}

.button-up:hover path, 
.button-down:hover path {
	fill: var(--basic-black);
}

.button-up:focus path, 
.button-up:active path, /* Не поняла как делать активную кнопку*/
.button-down:focus path, 
.button-down:active path {
	fill: var(--basic-desaturated-blue);
}

.button-down-current path {
	fill: var(--basic-desaturated-blue);
}

/* Catalog */

.list-catalog {
	list-style: none;
}

.item-catalog h3 {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: var(--basic-black);
}

.item-catalog dd {
	margin: 0;
}

.catalog-image {
	background-color: var(--basic-gray-blue);
}

.button-detail {
	background-color: var(--basic-desaturated-blue);
	font-weight: bold;
	padding: 3px 16px 3px 17px;
}

.button-reserv {
	background-color: var(--basic-desaturated-dark-orange);
	font-weight: bold;
	padding: 3px 17px 3px 16px;
}

.rating p {
	color: var(--special-direct-energy);
	background-color: var(--basic-gray-blue);
	padding: 3px 12px 3px 15px;
	display: inline-block;
}



















/* Main footer */

.main-footer {
	padding: 38px 0;
  background-position: 0 0;
  background-color: var(--basic-white);
  background: rgba(255, 255, 255, 0.9);
  color: var(--basic-black);
  text-align: center;
  line-height: 26px;
	outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
}

.main-footer .container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.footer-contacts {
	width: 250px;
	margin-left: 111px;
  font-size: 21px;
  font-weight: bold;
	outline: 5px solid rgba(0, 255, 255, 0.7);
  outline-offset: -5px;
}

.footer-social {
	width: 150px;
	justify-self: center;
  text-align: center;
  list-style: none;
	outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  background-color: var(--basic-desaturated-blue);
}

.social-button:hover {
  background-color: var(--special-Slightly-desaturated-blue);
}

.social-button:focus {
  background-color: var(--special-Moderate-blue);
}

.social-button:focus path {
  fill: rgba(255, 255, 255, 0.3);
}

.footer-copyright {
	width: 200px;
	outline: 5px solid rgba(255, 0, 255, 0.7);
  outline-offset: -5px;
	display: inline-block;
}

.footer-copyright p {
	display: inline-block;
}

.footer-copyright a {
  list-style: none;
}

.footer-copyright:hover path {
  fill: var(--basic-desaturated-blue);
}

.footer-copyright:focus path {
  fill: var(--special-Grayish-pink);
}
